[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest.git
[submodule "tools/CppCodeGenerator"]
	path = tools/CppCodeGenerator
	url = https://github.com/emloughl/CppCodeGenerator.git
